@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:
    radial-gradient(105.68% 45.69% at 92.95% 50%,
    rgba(105, 244, 253, 0.5) 0%,
    rgba(160, 255, 244, 0.095) 53.91%,
    rgba(254, 216, 255, 0) 100%),
    radial-gradient(103.18% 103.18% at 90.11% 102.39%,
    rgb(201, 255, 242) 0%,
    rgba(230, 255, 250, 0) 100%),
    radial-gradient(90.45% 90.45% at 87.84% 9.55%,
    rgb(255, 210, 245) 0%,
    rgba(254, 219, 246, 0) 100%),
    linear-gradient(135.66deg, rgba(203, 185, 255, 0.8) 14.89%,
    rgba(216, 202, 254, 0) 74.33%); 
  background-blend-mode: color-dodge, darken, luminosity, saturation, lighten, screen; 
}

