.introducao,
.grid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.grid {
  margin-top: 0px;
}

.introducao-conteudo {
  align-self: center;
}

.links {
  display: flex;
  gap: 10px;
}

.introducao h1 {
  padding-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

.introducao img {
  align-self: end;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .introducao-bg {
    padding-top: 40px;
  }
}

@media (max-width: 800px) {
  .introducao,
  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao h1 {
    margin-bottom: 10px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
