
button.btnLink {
  margin-top: 1.5em;
  border: none;
  background: none;
  border-radius: 100px;
  padding: 1em 2em;
  background-color: transparent;
  border: 2px solid #fff;
}

.btnLink a {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.btnLink:hover,
.btnLink:hover a {
  color: #000;
  background-color: #fff;
}

.btnIcon{
  border: none;
  background: none;
}

.btnIcon:hover {
  filter: invert(.1);
}