.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  padding: 10px 20px;
  display: inline-block;
  background: var(--cor-p0);
  border-radius: 100px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--cor-0);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  text-align: center;
  cursor: pointer;
}

.botao,
.botao-outline,
.botao-form {
  &:hover {
    opacity: 0.7;
  }
}

.botao-outline {
  padding: 10px 20px;
  display: inline-block;
  background: transparent;
  text-align: center;

  border-radius: 100px;
  border: 2px solid var(--cor-p0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--cor-p0);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  cursor: pointer;
}

.botao-compra {
  margin-top: 10px;
  padding: 10px 20px;
  display: inline-block;
  background: var(--cor-p0);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 0.9rem;

  &:hover {
    background-color: var(--cor-p4);
  }
}

.botao-form {
  padding: 10px 20px;
  display: inline-block;
  background: var(--cor-p0);
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--cor-0);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  text-align: center;
  cursor: pointer;
}

.tag {
  display: inline-block;
  padding: 6px 12px;
  text-transform: uppercase;
  border-radius: 100px;
}

.tag.padrao {
  color: var(--cor-8);
  border: 1px solid var(--cor-8);
}

.tag.cupom {
  color: var(--cor-p0);
  border: 1px solid var(--cor-p0);
}

.espacamento-texto {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.lista-linkada {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: section;
  margin: 2em 0 2.5em 0;
}
.lista-linkada li {
  display: flex;
  align-items: center;
  position: relative;
}

.lista-linkada li + li {
  margin-top: 16px;
}

.lista-linkada li::before {
  counter-increment: section;
  content: counter(section);
  background: var(--cor-p0);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 26px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: 200;
  margin-right: 16px;
  position: relative;
  z-index: 66;
}
.lista-linkada li:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 200%;
  background: var(--cor-p0);
  position: absolute;
  left: 12.5px;
  top: 50%;
}

.search-box {
  width: 350px;
  position: relative;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.search-input {
  width: 100%;
  padding: 15px 45px 15px 15px;
  background-color: var(--cor-1);
  border-radius: 100px;
  border: 1px solid var(--cor-3);
  transition: all 0.4s;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left: -45px;
  border: none;
  z-index: 10;
}

.search-btn:hover {
  cursor: pointer;
}
