header {
  background-color: hsl(0, 0%, 10%);
    position: sticky;
    top: 0;
}

header nav {
  display: flex;
  align-items: center ;
  padding: 1.5em 0;
  justify-content: space-between;
}

/* .bg {
  background-image: linear-gradient(
    to right bottom,
    rgba(12, 12, 12, 0.5),
    rgba(0, 0, 0, 0.7)
  ), url(./img.jpg);
  background-size: cover;
  background-position: center center;
} */